/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

/* Topbar */
$container__topbar_height: 56px;

/* Sidebar */
$container__sidebar_width: 210px;
$container__sidebar_width_mobile: 100px;
$container__sidebar_transition: none;

/* Responsive breakpoints */
$screen_size__wide: 1242px;
$screen_size__normal: 1041px;
$screen_size__tablet: 992px;
$screen_size__phone: 767px;
$screen_size__small: 430px;

$screen_size__md: 1200px;
$screen_size__sm: 992px;
$screen_size__xs: 768px;
