/*--------------------------------------------------------------
## Copy
--------------------------------------------------------------*/

// General
p {
  margin:0;
  padding:0;
  @include transition(all .3s 0s ease);
}

// Text Selection
::selection {
  background: $color__brand_blue; 
  color: $color__brand_light;
}
::-moz-selection {
  background: $color__brand_blue; 
  color: $color__brand_light;
}

// Inline Elements
code {
	background-color: #ffeee5;
	color: #ff8e59;
}
.highlight pre code {
	font-size:14px;
}
.s {
  	color: #ff8e59;
}
mark {
  	background: $color__brand_blue_lighter none repeat scroll 0 0;
}
b, strong {
  	color:$color__text_heading;
}
caption {
	color: $color__brand_blue_light;
}

// Color
.text-white {
  color:#fff;

  strong {
    color:#fff;
  }
}
.text-light {
  @include opacity(.5);
}
.text-primary-bright {
  color:$color__brand_green;
}
.text-info-bright,
.text-success-bright {
  color:$color__brand_blue;
}
.text-warning-bright {
  color:$color__brand_yellow;
}
.text-danger-bright {
  color:$color__brand_red;
}

// Line height
.line-height-condensed {
  line-height: 1.15em;
}

// Size
.text-lg {
  font-size:140%;
}

.font-size-10 { font-size:10px; }
.font-size-11 { font-size:11px; }
.font-size-12 { font-size:12px; }
.font-size-13 { font-size:13px; }
.font-size-14 { font-size:14px; }
.font-size-15 { font-size:15px; }
.font-size-16 { font-size:16px; }
.font-size-17 { font-size:17px; }
.font-size-18 { font-size:18px; }
.font-size-19 { font-size:19px; }
.font-size-20 { font-size:20px; }
.font-size-21 { font-size:21px; }
.font-size-21 { font-size:21px; }
.font-size-22 { font-size:22px; }
.font-size-23 { font-size:23px; }
.font-size-24 { font-size:24px; }
.font-size-25 { font-size:25px; }
.font-size-26 { font-size:26px; }
.font-size-27 { font-size:27px; }
.font-size-28 { font-size:28px; }
.font-size-29 { font-size:29px; }
.font-size-30 { font-size:30px; }
.font-size-31 { font-size:31px; }
.font-size-32 { font-size:32px; }
.font-size-33 { font-size:33px; }
.font-size-34 { font-size:34px; }
.font-size-35 { font-size:35px; }
.font-size-36 { font-size:36px; }
.font-size-37 { font-size:37px; }
.font-size-38 { font-size:38px; }
.font-size-39 { font-size:39px; }
.font-size-40 { font-size:40px; }
.font-size-41 { font-size:41px; }
.font-size-42 { font-size:42px; }
.font-size-43 { font-size:43px; }
.font-size-44 { font-size:44px; }
.font-size-45 { font-size:45px; }
.font-size-46 { font-size:46px; }
.font-size-47 { font-size:47px; }
.font-size-48 { font-size:48px; }
.font-size-49 { font-size:49px; }
.font-size-50 { font-size:50px; }
.font-size-51 { font-size:51px; }
.font-size-52 { font-size:52px; }
.font-size-53 { font-size:53px; }
.font-size-54 { font-size:54px; }
.font-size-55 { font-size:55px; }
.font-size-56 { font-size:56px; }
.font-size-57 { font-size:57px; }
.font-size-58 { font-size:58px; }
.font-size-59 { font-size:59px; }
.font-size-60 { font-size:60px; }

